[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = {version = "==1.8.1", index = "https://download.pytorch.org/whl/cu111/"}
torchvision = {version = "==0.9.1", index = "https://download.pytorch.org/whl/cu111/"}
tqdm = "*"
pandas = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.6"

[scripts]
evaluate = "python src/eval.py -d gtsrb -m convstn -p none"
fuzz     = "python src/fuzz.py -d gtsrb -m convstn -p negconv"
stat_sum       = "./scripts/stat_sum.sh"
stat_diversity = "./scripts/stat_diversity.sh"
